/* #region base */
.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.our-team,
.our-portfolio {
  padding: 120px 120px;
}
/* #endregion */

/* #region header*/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  padding-right: 76px;
}
.logo-dark {
  color: #2e2f42;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus,
.contacts-info:hover,
.contacts-info:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-info {
  padding: 24px 0;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region hero */
.hero {
  background-color: #2e2f42;
}
.hero-container {
  padding: 188px 0;
}
.page {
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}
.buttom {
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}
.buttom:hover,
.buttom:focus {
  background: #404bbf;
}
/* #endregion */

/* #region benefits */
.list {
  display: flex;
  padding: 120px 0 105px;
  gap: 24px;
}
.list-item {
  max-width: 264px;
}
.titel-item {
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 8px;
}
.text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}
/* #endregion */

/* #region Our Team*/
.our-team {
  background: #f4f4fd;
}
.subject-list {
  display: flex;
  gap: 24px;
  border-radius: 0 0 4px 4px;
  padding-top: 72px;
  justify-content: center;
}
.subject-item {
  background-color: #ffffff;
  width: 264px;
  height: 380px;
}
.subject {
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.subject-titel {
  margin: 32px 0 8px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
}
.subject-text {
  letter-spacing: 0.02em;
  line-height: 1.5;

  text-align: center;
}
/* #endregion */

/* #region portfolio */
.heading {
  letter-spacing: 0.02em;
  text-transform: capitalize;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.heading-list {
  display: flex;
  flex-wrap: wrap;
}

.heading-titel {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.heading-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}
/* #endregion */

/* #region footer */
.footer {
  background: #2e2f42;
}
.logo-light {
  color: #f4f4fd;
}
.footer-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #f4f4fd;
}
/* #endregion */
